@model IEnumerable<SierrasKillerDealsWebApp.Models.Deal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DealID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DealID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DealID })
        </td>
    </tr>
}

</table>
